@font-face {
    font-family: 'SFUIDisplayBlack';
    src: url('../fonts/SFUIDisplayBlack.eot');
    src: url('../fonts/SFUIDisplayBlack.eot') format('embedded-opentype'),
         url('../fonts/SFUIDisplayBlack.woff2') format('woff2'),
         url('../fonts/SFUIDisplayBlack.woff') format('woff'),
         url('../fonts/SFUIDisplayBlack.ttf') format('truetype'),
         url('../fonts/SFUIDisplayBlack.svg#SFUIDisplayBlack') format('svg');
}
@font-face {
    font-family: 'SFUIDisplayBold';
    src: url('../fonts/SFUIDisplayBold.eot');
    src: url('../fonts/SFUIDisplayBold.eot') format('embedded-opentype'),
         url('../fonts/SFUIDisplayBold.woff2') format('woff2'),
         url('../fonts/SFUIDisplayBold.woff') format('woff'),
         url('../fonts/SFUIDisplayBold.ttf') format('truetype'),
         url('../fonts/SFUIDisplayBold.svg#SFUIDisplayBold') format('svg');
}
@font-face {
    font-family: 'SFUIDisplayHeavy';
    src: url('../fonts/SFUIDisplayHeavy.eot');
    src: url('../fonts/SFUIDisplayHeavy.eot') format('embedded-opentype'),
         url('../fonts/SFUIDisplayHeavy.woff2') format('woff2'),
         url('../fonts/SFUIDisplayHeavy.woff') format('woff'),
         url('../fonts/SFUIDisplayHeavy.ttf') format('truetype'),
         url('../fonts/SFUIDisplayHeavy.svg#SFUIDisplayHeavy') format('svg');
}
@font-face {
    font-family: 'SFUIDisplayLight';
    src: url('../fonts/SFUIDisplayLight.eot');
    src: url('../fonts/SFUIDisplayLight.eot') format('embedded-opentype'),
         url('../fonts/SFUIDisplayLight.woff2') format('woff2'),
         url('../fonts/SFUIDisplayLight.woff') format('woff'),
         url('../fonts/SFUIDisplayLight.ttf') format('truetype'),
         url('../fonts/SFUIDisplayLight.svg#SFUIDisplayLight') format('svg');
}
@font-face {
    font-family: 'SFUIDisplayMedium';
    src: url('../fonts/SFUIDisplayMedium.eot');
    src: url('../fonts/SFUIDisplayMedium.eot') format('embedded-opentype'),
         url('../fonts/SFUIDisplayMedium.woff2') format('woff2'),
         url('../fonts/SFUIDisplayMedium.woff') format('woff'),
         url('../fonts/SFUIDisplayMedium.ttf') format('truetype'),
         url('../fonts/SFUIDisplayMedium.svg#SFUIDisplayMedium') format('svg');
}
@font-face {
    font-family: 'SFUIDisplayRegular';
    src: url('../fonts/SFUIDisplayRegular.eot');
    src: url('../fonts/SFUIDisplayRegular.eot') format('embedded-opentype'),
         url('../fonts/SFUIDisplayRegular.woff2') format('woff2'),
         url('../fonts/SFUIDisplayRegular.woff') format('woff'),
         url('../fonts/SFUIDisplayRegular.ttf') format('truetype'),
         url('../fonts/SFUIDisplayRegular.svg#SFUIDisplayRegular') format('svg');
}
@font-face {
    font-family: 'SFUIDisplaySemibold';
    src: url('../fonts/SFUIDisplaySemibold.eot');
    src: url('../fonts/SFUIDisplaySemibold.eot') format('embedded-opentype'),
         url('../fonts/SFUIDisplaySemibold.woff2') format('woff2'),
         url('../fonts/SFUIDisplaySemibold.woff') format('woff'),
         url('../fonts/SFUIDisplaySemibold.ttf') format('truetype'),
         url('../fonts/SFUIDisplaySemibold.svg#SFUIDisplaySemibold') format('svg');
}
@font-face {
    font-family: 'SFUIDisplayThin';
    src: url('../fonts/SFUIDisplayThin.eot');
    src: url('../fonts/SFUIDisplayThin.eot') format('embedded-opentype'),
         url('../fonts/SFUIDisplayThin.woff2') format('woff2'),
         url('../fonts/SFUIDisplayThin.woff') format('woff'),
         url('../fonts/SFUIDisplayThin.ttf') format('truetype'),
         url('../fonts/SFUIDisplayThin.svg#SFUIDisplayThin') format('svg');
}
@font-face {
    font-family: 'SFUIDisplayUltralight';
    src: url('../fonts/SFUIDisplayUltralight.eot');
    src: url('../fonts/SFUIDisplayUltralight.eot') format('embedded-opentype'),
         url('../fonts/SFUIDisplayUltralight.woff2') format('woff2'),
         url('../fonts/SFUIDisplayUltralight.woff') format('woff'),
         url('../fonts/SFUIDisplayUltralight.ttf') format('truetype'),
         url('../fonts/SFUIDisplayUltralight.svg#SFUIDisplayUltralight') format('svg');
}