$primary: #4879F9;
$white:#fff;
$textblack:#313131;
$mediahead:#4DADF2;
$rechathead:#181818;
$rechatmsg:#767676;
$msgtime:#959595;
$delete:#E24848;
$rechatmsgactive:#474747;
$darkblack:#000;
$popuptext:#818181;
$button:#e5e5e5;

$regular: 'SFUIDisplayRegular';
$light: 'SFUIDisplayLight';
$medium: 'SFUIDisplayMedium';
$bold: 'SFUIDisplayBold';
$black: 'SFUIDisplayBlack';
$semibold:'SFUIDisplaySemibold';
$thin: 'SFUIDisplayThin';
$heavy:'SFUIDisplayHeavy';
$ultralight:'SFUIDisplayUltralight';


$font0:0rem;
$font8: 0.5rem;
$font9: 0.5625rem;
$font10: 0.625rem;
$font11: 0.6875rem;
$font12: 0.75rem;
$font13: 0.8125rem;
$font14: 0.875rem;
$font15: 0.9375rem;
$font16: 1rem;
$font17: 1.0625rem;
$font18: 1.125rem;
$font19: 1.1875rem;
$font20: 1.25rem;
$font21: 1.3125rem;
$font22: 1.375rem;
$font23: 1.4375rem;
$font24: 1.5rem;
$font25: 1.5625rem;
$font26: 1.625rem;
$font27: 1.6875rem;
$font28: 1.75rem;
$font29: 1.8125rem;
$font30: 1.8125rem;
$font31: 1.8125rem;
$font32: 2rem;
$font33: 2.0625rem;
$font34: 2.125rem;
$font35: 2.1875rem;
$font36: 2.25rem;
$font37: 2.3125rem;
$font38: 2.375rem;
$font39: 2.4375rem;
$font40: 2.5rem;
$font41: 2.5625rem;
$font42: 2.625rem;
$font43: 2.6875rem;
$font44: 2.75rem;
$font45: 2.8125rem;